p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0px;
    padding-top: 110px;
    padding-left: 130px;
    padding-right: 28px;
    background-color: rgb(248, 248, 248);
}
