.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-block-color: rgb(228, 228, 228);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 40px;
    margin-left: 30px;
    margin-right: 46px;
}

.youtube-logo {
    height: 40px;
}

.mid-section {
    flex: 1;
    margin-left: 90px;
    margin-right: 30px;
    max-width: 700px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 56px;
    padding-left: 14px;
    font-size: 24px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;

}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 25px;
}

.search-button {
    height: 62px;
    width: 90px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    border-style: solid;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;


}

.search-button,
.voice-search-button,
.upload-icon-container,
.notification-icon-container,
.youtube-apps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.notification-icon-container .tooltip,
.youtube-apps-container .tooltip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: grey;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 17px;
    border-radius: 3px;
    bottom: -53px;
    opacity: 0;
    transition: opacity 0.20s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip {
    opacity: 1;
}

.search-button:hover,
.voice-search-button {
    background-color: rgb(230, 230, 230);
}

.search-button:hover,
.voice-search-button:hover,
.upload-icon-container,
.youtube-apps-container:hover,
.notification-icon-container:hover,
.cnl-pic:hover {
    cursor: pointer;
}

.search-icon {
    height: 40px;
}

.voice-search-button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: rgb(248, 248, 248);
    border-style: none;
}

.voice-icon {
    height: 36px;
}

.right-section {
    width: 210px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload {
    height: 35px;
    width: 35px;
}

.youtube-apps {
    height: 35px;
    width: 35px;
}

.notification-icon {
    height: 35px;
}

.notification-icon-container {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -6px;
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 500;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-top: 1px;
    padding-right: 2px;

    background-color: rgb(200, 0, 0);
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

.cnl-pic {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
