.thumbnail {
    width: 100%;
}

.thumbnail:hover {
    cursor: pointer;
}

.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic {
    width: 50px;
    border-radius: 25px;
}

.profile-pic:hover {
    cursor: pointer;
}

.video-title {
    margin-top: 0%;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    padding-left: 8px;
}

.video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 5px;
    padding-left: 8px;
}

.view-data {
    font-size: 14px;
    color: rgb(96, 96, 96);
    ;
    padding-left: 8px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1201px) and (max-width: 1449px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1450px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 13px;
    right: 10px;
    padding-left: 6px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-top: 3px;
    font-size: 22px;
    font-family: Roboto, Arial;
    font-weight: 450;
    border-radius: 4px;
}
